/* flow */

.actionTrigger {
	transition: opacity 0.5s;
	opacity: 0;
}
.actionTrigger:hover {
	transition: opacity 0.3s;
	opacity: 0.3;
}
input.ui-icon-run {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/run.png);
}
input.ui-icon-open {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/open.png);
}
input.ui-icon-save {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/save.png);
}
input.ui-icon-load {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/load.png);
}
input.ui-icon-clone {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/clone.png);
}
input.ui-icon-delete {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/delete.png);
}
input.ui-icon-select {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/select.png);
}
input.ui-icon-info {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/info.png);
}
input.ui-icon-reset {
	width:18px;
	height:18px;
	background:url(/clients/icons/actions/reset.png);
}

table.x {
	border: 1px solid black;
	//-table-layout: fixed;
	width: 200px;
}
th.x, td.x {
	border: 1px solid black;
	overflow: hidden;
	font-size: 12px;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	line-height: 0px;
}

#progressBar {
	width: 400px;
	height: 20px;
	border: 1px solid #111;
	background-color: #292929;
}

#progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 20px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0099ff;
}
