/* extjs */

body {
	visibility: hidden;
}
/*
	.x-filein::-webkit-file-upload-button {
		visibility: hidden;
	}
	.x-filein::before {
		content: "select...";
		display: inline-block;
		outline: none;
		white-space: nowrap;
		cursor: pointer;
		font-weight: 700;
		font-size: 10pt;
	}
	.x-filein:hover::before {
		border-color: black;
	}
	.x-filein:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}
.x-grid-row-summary {
	font-size: 0.7em;
	font-weight: bold;
}
.x-grid-cell-inner {
	white-space: wrap;
}
*/

/*
.x-menu-button {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 20px auto;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

td.Cell-0 { color: black; }
td.Cell-1 { color: red; }
td.Cell-2 { color: blue; }
td.Cell-3 { color: green; }
td.Cell-4 { color: orange; }
td.Cell-5 { color: blue; }
td.Cell-6 { color: red; }

.x-combo-col { width: 150; }

.x-grid-hd-inner .x-grid-cell-inner {
	white-space: normal;
}

.policed  { background-color: blue; }
.finished  { background-color: green; }
.working  { background-color: orange; }
.pending  { background-color: red; }
.caution  { background-color: yellow; }

.custom-grid .x-grid-cell { 
		background-color: #ffa; 
		border-bottom-color: #ffc; 
		border-top-color: #ff5; 
		color: #009; 
}

.contentClassif {
	text-align: center;
	background-color: yellow;
}

img.Action-1 {
	width:16px;
	height:16px;
	background:url(#{icons}actions/actions.gif) -16px 0;
}
img.Action-0 {
	width:16px;
	height:16px;
	background:url(#{icons}actions/actions.gif) 0px 0;
}
*/
