/*  SecureLink */
input[type=number]{
	width: 20px;
} 
.btn {
	background-color: DodgerBlue; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 5px 5px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
	background-color: RoyalBlue;
}

.inputfile {
	/* visibility: hidden etc. wont work */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile:focus + label {
	/* keyboard navigation */
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}

/* experimental */
div livetext { width: 100%; overflow: hidden; }
div livetext p { animation: 10s slide-right; }
@keyframe slide-right {
	from {
		margin-left: -100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}
