//- UNCLASSIFIED

extends base
append base_body

	h1 Chapter 1

	p The Lorenz Equations \(x^2 = 0\)
	
	:markdown
		NGA/R CLUSTER users may, for example, compare their [ROC metrics](/regress.run)
		results from feature vectors of different lengths, to decide how large their vectors must be to 
		catch their competitors ROC.  Here, 
		$$ t_{catch} = t_{lead} \quad { \frac {1+ \Delta HitRate} { \Delta HitRate } } $$
		provides the catch up time given your competitors lead time and the 
		$$ \Delta HitRate = HitRate_{larger} - HitRate_{smaller} $$
		between your feature vectors. For example, $$ t_{catch} = 265 years $$ with a 
		$$ \Delta HitRate = 5 \text{\%} $$ ROC improvement, if your nearest competitor has 
		a lead of $$ t_{lead} = 15 years $$.
		
		This is a test
		$$
		\begin{align}
		\dot{x} & = \sigma(y-x) \\
		\dot{y} & = \rho x - y - xz \\
		\dot{z} & = -\beta z + xy
		\end{align}
		$$
	br
	p Impressive 'eh
	p.
		\[
		J_\alpha(x) = \sum\limits_{m=0}^\infty \frac{(-1)^m}{m! \, \Gamma(m + \alpha + 1)}{\left({\frac{x}{2}}\right)}^{2 m + \alpha}
		\]

	h1 Chapter 2

//- UNCLASSIFIED
