//- UNCLASSIFIED
//-
	Provides a cesium framework with parameters:
		- entry = "HelloWorld" | ...
		- host = "aws" | "geohub" | "me" | "win"
		- width = 750
		- height = 500

extends layout
append layout.head

	block linux.parms
	
	style.
		.term {
			font-family: courier,fixed,swiss,monospace,sans-serif;
			font-size: 14px;
			color: #f0f0f0;
			background: #000000;
		}
		.termReverse {
			color: #000000;
			background: #00ff00;
		}
		#note {
			font-size: 12px;
		}
		#copyright {
			font-size: 10px;
		}
		#clipboard {
			font-size: 12px;
		}

	script(src="clients/jslinux/utils.js")
	script(src="clients/jslinux/term.js")
	script(src="clients/jslinux/cpux86.js")
	script(src="clients/jslinux/jslinux.js")
	script(src="clients/jslinux/cpux86-ta.js")
	
	block linux.head

append layout.body

	table(border="0")
		tr(valign="top")
			td
				div(id="copyright")
					| &copy; 2011 Fabrice Bellard - <a href="news.html">News</a> - <a href="faq.html">FAQ</a> - <a href="tech.html">Technical notes</a>
				
			td
				input(type="button",value="Clear clipboard",onclick="clear_clipboard();")
				br
				textarea(row="4",cols="16",id="text_clipboard")

	block linux.body

//- UNCLASSIFIED
