//- UNCLASSIFIED

extends base
append base_parms
	- tech = "jquery"
	- pivot = "Isotope"

append base_help
	:markdown
		Provides isotope-style tipsheet where:

			ds = source url
			pivots = channel,tip,links,label,ID,age,weight

append base_body

	- pivots = query.pivots || "channel,tip,links,label,ID,age,weight"
	- ds = query.ds || "/tips.db"

	#pivot.Tips(
		path="#{query.ds}",
		page=25,dims="750,500",
		pivots="#{pivots}")

//- UNCLASSIFIED
