style.
	table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	}

head
	meta(charset='utf-8')
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width,maximum-scale=2")
	link(rel="stylesheet", type="text/css", media="screen", href="/assets/css/style.css?v=88dfb67e27a2aaeff72219fe531659ef5b09a846")

	//- Begin Jekyll SEO tag v2.7.1
	title this is a test | totemstan.github.io
	meta(name="generator", content="Jekyll v3.9.0" )
	meta(property="og:title", content="Totem" )
	meta(property="og:locale", content="en_US" )
	link(rel="canonical", href="https://totemstan.github.io/" )
	meta(property="og:url", content="https://totemstan.github.io/" )
	meta(property="og:site_name", content="totemstan.github.io" )
	meta(name="twitter:card", content="summary" )
	meta(property="twitter:title", content="this is a test" )
	script(type="application/ld+json").
		{"url":"https://totemstan.github.io/","@type":"WebSite","headline":"Totem","name":"totemstan.github.io","@context":"https://schema.org"}	
	//- End Jekyll SEO tag

body
	div#header_wrap.outer
		header.inner
			h1#project_title Totem Installation
			h2#project_tagline

	div#main_content_wrap.outer
		section#main_content.inner
			:markdown
				# TOTEM

				Welcome to the **TOTEM** installation jump page.  Here you may elect to install **TOTEM** as (1)
				a suite of NodeJS modules on your machine, or (2) as several standalone docker images.  The 
				table below summarized the two installation options with links to the **TOTEM** repos.

			table
				tr
				td Docker Images
				td NodeJS Modules
				td Provides
				td DEBE Required
				td TOTEM Required
				td GUI
				td Notebooks
				td Datasets
				td Files
				tr
				
				td
					a(href="https://github.com/totemstan/dockify") Debe
				td
					a(href="https://github.com/totemstan/debe") DEBE
				td Full web service
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				td
				
				td
					a(href="https://github.com/totemstan/geohack") GeoHack
				td Earth chipper
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				td
				
				td
					a(href="https://github.com/totemstan/atomic") ATOMIC
				td Stateful engine compute threads
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				td
				
				td 
					a(href="https://github.com/totemstan/pipe") PIPE
				td Sateful engine compute threads
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				td

				td 
					a(href="https://github.com/totemstan/man") MAN
				td Matrix manipuator
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				td
				
				td 
					a(href="https://github.com/totemstan/ranpr") RandPR
				td Generate random process
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				td
				td 
					a(href="https://github.com/totemstan/tfjs") TensorFlow
				td CNN, BERT and other Boltzman machines
				td Y
				td
				td Y
				td Y
				td Y
				td Y
				tr
				
				td 
					a(href="https://github.com/totemstan/dockify") Totem
				td 
					a(href="https://github.com/totemstan/totem") TOTEM
				td Basic web service
				td Y
				td Y
				td
				td
				td Y
				td Y
				tr
				td
				
				td 
					a(href="https://github.com/totemstan/securelink") SecureLink
				td Secure logins and communications
				td Y
				td Y
				td
				td
				td Y
				td Y
				tr
				td
				
				td 
					a(href="https://github.com/totemstan/socketio") SocketIO
				td Inter-client web sockets to sync changes
				td Y
				td Y
				td
				td
				td Y
				td Y
				tr
				td
				
				td 
					a(href="https://github.com/totemstan/enums") ENUMS
				td Basic data enumerators, getters and fetchers
				td Y
				td Y
				td
				td
				td Y
				td Y
				tr
				td
				
				td 
					a(href="https://github.com/totemstan/jsdb") JSDB
				td MySQL and Neo4J DB agnosticator
				td Y
				td Y
				td
				td
				td Y
				td Y

			:markdown
				## Contacting, Contributing, Following

				Feel free to 
				* submit and status **TOTEM** issues (
				[WWW](http://totem.zapto.org/issues.view) 
				[COE](https://totem.west.ile.nga.ic.gov/issues.view) 
				[SBU](https://totem.nga.mil/issues.view)
				)  
				* contribute to **TOTEM** notebooks (
				[WWW](http://totem.zapto.org/shares/notebooks/) 
				[COE](https://totem.west.ile.nga.ic.gov/shares/notebooks/) 
				[SBU](https://totem.nga.mil/shares/notebooks/)
				)  
				* revise **TOTEM** requirements (
				[WWW](http://totem.zapto.org/reqts.view) 
				[COE](https://totem.west.ile.nga.ic.gov/reqts.view) 
				[SBU](https://totem.nga.mil/reqts.view), 
				)  
				* browse **TOTEM** holdings (
				[WWW](http://totem.zapto.org/) 
				[COE](https://totem.west.ile.nga.ic.gov/) 
				[SBU](https://totem.nga.mil/)
				)  
				* or follow **TOTEM** milestones (
				[WWW](http://totem.zapto.org/milestones.view) 
				[COE](https://totem.west.ile.nga.ic.gov/milestones.view) 
				[SBU](https://totem.nga.mil/milestones.view)
				).

				## License

				[MIT](LICENSE)

				* * *

				&copy; 2012 ACMESDS

	div#footer_wrap.outer
		footer.inner
			p Published with <a href="http://totem.hopto.org">Totem
